:root{
  --color-background: #222;
  --color-background-sec:#333;
  --color-font:#fafafa;
  --color-font-sec:#fafafa;
}

header h1 {
  text-align: center;
  padding: 2rem;
  color: var(--color-font);
  background-color: var(--color-background);
}
main {
  max-width: 80rem;
}
main dl dt {
  padding: 2rem 0 0;
  text-align: center;
  font-size: 2.8rem;
  font-weight: bolder;
}
main dl dd h3 {
  text-align: center;
  padding: 0.4rem;
}
main dl dd ul {
  display: flex;
  justify-content: center;
}
#chrono ul li,
#timer ul:last-child li {
  max-width: 100%;
  font-size: 2.6rem;
  margin: 0 2rem;
  border-radius: 10rem;
  cursor: pointer;
}
#timer ul {
  padding: 0 1rem;
}
#timer ul li {
  display: inline;
  border: red;
  max-width: 4rem;
  margin: 0 1rem;
}
#timer h3 {
  display: none;
}
#pauseTimer,
#continueTimer {
  display: none;
}

input {
  display: inline;
  border: none;
  outline: none;
  max-width: 4rem;
  font-size: 1.6rem;
  text-align: center;
}

footer {

background-color: var(--color-background);
color: var(--color-font);
}
footer p{
  padding: 1rem;
  font-size: 1rem;
}